* {
    padding: 0;
    margin-left: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.site-content {
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
    border-radius: 0.3em;
    background-color: rgb(255, 255, 255);
    width: 30em;
    padding: 2em;
}

.card p {

}