* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 "Verdana", sans-serif;
    background-color: rgb(238, 238, 238);
}

body {
    
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 4em;
}

site.content {
    flex-grow: 1;
}

.site-header {
    padding-bottom: 2em;
    border-bottom: 5px solid black;
    margin-bottom: 1em;
}

.site-footer {
    padding-top;: 2em;
    border-top: 5px solid black;
    margin-top: 1em;
}















/* footer {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    padding: 0 0 0 1em;
}


header,
footer {
    flex: 1 0 100%;
}

header {
    border-bottom: 2px solid rgb(102, 102, 102);
    padding: 0 0 0 1em;
}

h1 {
    text-transform: uppercase;
}

main {
    padding: 1em;
} */