html {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    font-family: Georgia, serif;
    font-size: 1em;
    line-height: 1.2;
}

section {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    border: 1px solid lightgray;
    padding: 3em 5em;
}

article {
    padding-right: 3em;
}