* {
    padding: 0;
    margin: 0;
}

article {
    box-sizing: border-box;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
    width: 60%;
    padding: 10px 200px;
    margin: 20px auto;
    border: grey;
    border-style: solid; 
    max-height: 1
}

h1,
h2 {
    padding-top: 15px;
    padding-bottom: 20px;
}

ul {
    padding: 10px 0;
}

p {
    padding: 10PX 0;
}
]